*{
    margin: 0;
    padding: 0;
}

header h1{
    text-align: center;
    padding: 20px 0px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-size: 1.5rem;
    background: rgba(121, 9, 9, 0.767);
    position: sticky;
    top:0px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
}

nav ul li{
    flex: 0 0 25%;
    list-style-type: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

h1{
    font-size: 3rem;
}

h2{
    /* margin-left: 10px; */
    font-size: 2rem;
}
p{
    font-size: 1.2rem;
}

section{
    padding: 20px;
}

#story-section{
    background: #e2dfdf;
}

#tourist-section{
    background: rgba(121, 9, 9, 0.267);
}

#tourist-section .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#football-section .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

#football-section .container img{
    width: 300px;
    height: 200px;
}

footer{
    text-align: center;
    padding: 20px 0px;
    font-size: 1.5rem;
    background: rgba(121, 9, 9, 0.767);
    color: white;

}